<section class="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title visually-hidden">Customer reviews</h2>
    <div class="slider">
      <div class="customer slider__item">
        <img
          class="customer__photo photo"
          src="./images/customer-reviews/img-woman@1x.png"
          alt=""
        />
        <div class="customer__comment-container">
          <div class="customer__text-container">
            <p class="customer__comment">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum
              similique, quidem quibusdam, labore molestias vero, mollitia
              aspernatur repellat quos iste blanditiis neque tempore. Dicta!
            </p>
          </div>
        </div>
        <h3 class="customer__name">Emily, Los Angeles</h3>
      </div>
      <div class="customer slider__item">
        <img
          class="customer__photo photo"
          src="./images/customer-reviews/img-glasses@1x.png"
          alt=""
        />

        <div class="customer__comment-container">
          <div class="customer__text-container">
            <p class="customer__comment">
              What on Earth have You found in that disgusting milk products! A
              pint of freshly squeezed blood - that's what will make U full of
              inexhaustible energy!
            </p>
          </div>
        </div>
        <h3 class="customer__name">Chupa Kabra, New York</h3>
      </div>
      <div class="customer slider__item">
        <img
          class="customer__photo photo"
          src="./images/customer-reviews/img-smile@1x.png"
          alt=""
        />
        <div class="customer__comment-container">
          <div class="customer__text-container">
            <p class="customer__comment">
              My husband, a lumberjack, has fallen for your ice-cream after the
              first byte. That's really delicious, even much better of popular
              "Sovietskiy Plombir" that was the best one to taste when young!
            </p>
          </div>
        </div>
        <h3 class="customer__name">Baba Galya, Chicago</h3>
      </div>
    </div>
  </div>
</section>
