<section class="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title visually-hidden">Our gallery</h2>

    <ul class="gallery__list list">
      <li class="gallery__column gallery__column--1">
        <div class="gallery__photo">
          <img
            class="gallery__image gallery__image--clockwise photo"
            src="./images/gallery/img1@2х.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="gallery__column gallery__column--2">
        <div class="gallery__photo">
          <img
            class="gallery__image photo gallery__image--counter-clockwise"
            src="./images/gallery/img2@2х.jpg"
            alt=""
          />
        </div>
        <div class="gallery__photo">
          <img
            class="gallery__image photo gallery__image--clockwise delay-5s"
            src="./images/gallery/img3@2х.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="gallery__column gallery__column--wide gallery__column--3">
        <div class="gallery__photo photo gallery__photo--big">
          <img
            class="gallery__image photo"
            src="./images/gallery/img4@2х.jpg"
            alt=""
          />
        </div>
        <div class="gallery__photo gallery__photo--smaller">
          <img
            class="gallery__image photo gallery__image--counter-clockwise"
            src="./images/gallery/img5@2х.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="gallery__column gallery__column--4">
        <div class="gallery__photo">
          <img
            class="gallery__image photo gallery__image--clockwise"
            src="./images/gallery/img6@2х.jpg"
            alt=""
          />
        </div>
        <div class="gallery__photo">
          <img
            class="gallery__image photo gallery__image--counter-clockwise delay-5s"
            src="./images/gallery/img7@2x.jpg"
            alt=""
          />
        </div>
      </li>

      <li class="gallery__column gallery__column--5">
        <div class="gallery__photo">
          <img
            class="gallery__image photo gallery__image--counter-clockwise delay-5s"
            src="./images/gallery/img8@2х.jpg"
            alt=""
          />
        </div>
        <div class="gallery__photo">
          <img
            class="gallery__image photo gallery__image--counter-clockwise"
            src="./images/gallery/img9@2х.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="gallery__column gallery__column--6">
        <div class="gallery__photo">
          <img
            class="gallery__image photo gallery__image--clockwise"
            src="./images/gallery/img10@2х.jpg"
            alt=""
          />
        </div>
      </li>
    </ul>
  </div>
</section>
