<section class="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title visually-hidden">Our gallery</h2>

    <ul class="gallery__list list">
      <li class="gallery__column">
        <div class="gallery__spacer gallery__spacer--1"></div>
        <div class="gallery__photo">
          <img
            class="gallery__image photo"
            src="./images/gallery/img1@2х.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="gallery__column">
        <div class="gallery__spacer gallery__spacer--2"></div>
        <div class="gallery__photo">
          <img
            class="gallery__image photo"
            src="./images/gallery/img2@2х.jpg"
            alt=""
          />
        </div>
        <div class="gallery__photo">
          <img
            class="gallery__image photo"
            src="./images/gallery/img3@2х.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="gallery__column gallery__column--wide">
        <div class="gallery__photo photo gallery__photo--big">
          <img
            class="gallery__image photo"
            src="./images/gallery/img4@2х.jpg"
            alt=""
          />
        </div>
        <div class="gallery__photo gallery__photo--smaller">
          <img
            class="gallery__image photo"
            src="./images/gallery/img5@2х.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="gallery__column">
        <div class="gallery__spacer gallery__spacer--4"></div>
        <div class="gallery__photo">
          <img
            class="gallery__image photo"
            src="./images/gallery/img6@2х.jpg"
            alt=""
          />
        </div>
        <div class="gallery__photo">
          <img
            class="gallery__image photo"
            src="./images/gallery/img7@2x.jpg"
            alt=""
          />
        </div>
      </li>

      <li class="gallery__column">
        <div class="gallery__spacer gallery__spacer--5"></div>
        <div class="gallery__photo">
          <img
            class="gallery__image photo"
            src="./images/gallery/img8@2х.jpg"
            alt=""
          />
        </div>
        <div class="gallery__photo">
          <img
            class="gallery__image photo"
            src="./images/gallery/img9@2х.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="gallery__column">
        <div class="gallery__spacer gallery__spacer--6"></div>
        <div class="gallery__photo">
          <img
            class="gallery__image photo"
            src="./images/gallery/img10@2х.jpg"
            alt=""
          />
        </div>
      </li>
    </ul>
  </div>
</section>
