.hero {
  &-section {
    background-color: $main-background-color;
    height: 502px;
    @media screen and (min-width: 768px) {
      height: 400px;
    }
    @media screen and (min-width: 1280px) {
      height: 665px;
    }
  }
  &-container {
    position: relative;
    height: 100%; // Krokodil
    overflow: hidden; // Krokodil

    &::after {
      // Krokodil
      position: absolute;
      content: ''; // Krokodil
      top: 83px; // Krokodil
      left: calc(50% - 124px);
      width: 346px;
      height: 346px;
      border-radius: 50%;
      background-color: $title-text-color;
      z-index: 1;

      @media screen and (min-width: 768px) {
        top: 31px;
        left: calc(50% - 77px);
        width: 324px;
        height: 324px;
      }
      @media screen and (min-width: 1280px) {
        top: 52px;
        left: calc(50% - 160px);
        width: 538px;
        height: 538px;
      }
    }
  }
}
.hero-main-im {
  position: absolute;
  top: 92px;
  left: calc(50% - 42px);
  width: 171px;
  height: 410px;
  background-image: url('../images/hero-header/img-mob-icecream@1x.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;

  opacity: 0;
  animation-name: icecreamAppear;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: 250ms;

  @media screen and (min-width: 768px) {
    top: 63px;
    left: calc(50% - 6px);
    width: 143px;
    height: 336px;
    background-size: contain;
    background-image: url('../images/hero-header/img-tablet-icecream@1x.png');
  }
  @media screen and (min-width: 1280px) {
    top: 108px;
    left: calc(50% - 40px);
    width: 236px;
    height: 557px;
    background-size: contain;
    background-image: url('../images/hero-header/img-desktop-icecream@1x.png');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero-header/img-mob-icecream@2x.png');
    @media screen and (min-width: 768px) {
      background-image: url('../images/hero-header/img-tablet-icecream@2x.png');
    }
    @media screen and (min-width: 1280px) {
      background-image: url('../images/hero-header/img-desktop-icecream@1x.png');
    }
  }
}
.hero-main-big-b {
  opacity: 0;
  animation-name: animateGirl;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: 1250ms;

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    right: 34px;
    width: 168px;
    height: 133px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/hero-header/img-tablet-girl@1x.png');
    z-index: 21;
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    bottom: 0;
    right: 110px;
    width: 293px;
    height: 232px;
    background-repeat: no-repeat;
    background-image: url('../images/hero-header/img-desktop-girl@1x.png');
    background-size: contain;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    @media screen and (min-width: 768px) {
      background-image: url('../images/hero-header/img-tablet-girl@2x.png');
    }
    @media screen and (min-width: 1280px) {
      background-image: url('../images/hero-header/img-desktop-girl@2x.png');
    }
  }
}

.header-order-btn__tabl {
  cursor: pointer;
  opacity: 0;
  animation-name: animateOrderBtn;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: 2250ms;

  &::before {
    animation-name: animateBtnGlitter;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    animation-delay: 3500ms;
  }
}

.header-mob {
  position: relative;
}
.header-logo {
  position: absolute;
  top: 6px;
  left: 0;
  @media screen and (min-width: 768px) {
    top: 37px;
  }
  @media screen and (min-width: 1280px) {
    left: -70px;
  }
}
.menu-button {
  position: fixed;
  top: 20px;
  right: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(80, 80, 80, 0.1);
  z-index: 30;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 47px;
    right: 190px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
  &.is-open {
    @media screen and (min-width: 768px) {
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open + .header-order-btn__tabl {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    display: none;
  }
}
.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: $color-menu;
  z-index: 29;
  display: none;

  @media screen and (min-width: 768px) {
    width: 254px;
  }
  @media screen and (max-width: 1280px) {
    animation-name: openMobileMenu;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }
  @media screen and (min-width: 1280px) {
    position: relative;
    display: block;
    width: 600px;
    margin: 0 auto;
    min-height: 70px;
    background-color: transparent;
  }
  &.is-open {
    display: block;
    overflow: visible;
  }
}
.header-order {
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0 auto;
    width: 210px;
    height: 44px;
    border-radius: 22px;
    border: none;
    background-color: $color-bg-inverse;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
      width: 186px;
    }
    @media screen and (min-width: 1280px) {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: $color-bg-btn_hover;
    }
  }
  &-btn__tabl {
    display: none;
    @media screen and (min-width: 768px) {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 38px;
      right: 0;
      width: 160px;
      height: 44px;
      border-radius: 22px;
      border: none;
      background-color: $color-bg-inverse;
      z-index: 13;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        background-color: $color-bg-btn_hover;
      }
    }
  }

  &-text {
    display: block;
    padding-right: 25px;
    color: $accent-color;
    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
  }
  &-img {
    background: transparent;
  }
}

.navigatoin {
  &-list {
    margin-top: 20px;
    @media screen and (min-width: 1280px) {
      display: flex;
      justify-content: end;
      margin-top: 0;
      padding-top: 38px;
    }
  }
  &-item {
    padding-left: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
    @media screen and (min-width: 1280px) {
      padding-left: 0;
      border: none;
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }
  &-link {
    color: $color-text;
    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.29;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accent-color;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.31;
    }
  }
}
.hero-title {
  position: absolute;
  top: 193px;
  z-index: 5;
  @media screen and (min-width: 768px) {
    top: 102px;
  }
  @media screen and (min-width: 1280px) {
    top: 171px;
    left: 115px;
  }
  &-text {
    margin: 0;
    font-family: $font-decor;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
  }
  &-part {
    display: block;
    color: $color-text;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.14;
    }
    @media screen and (min-width: 1280px) {
      font-size: 38px;
      line-height: 1.16;
    }
  }
  &-accent {
    display: block;
    color: $accent-color;
    font-size: 48px;
    line-height: 0.97;
    letter-spacing: 0.04em;
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
    }
    @media screen and (min-width: 1280px) {
      font-size: 52px;
      line-height: 0.91;
    }
  }
}
.hero-button {
  &-product {
    display: inline-block;
    margin-top: 20px;
    padding-top: 8px;
    text-align: center;
    width: 62px;
    height: 24px;
    border-radius: 12px;
    color: $color-text;
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    background-color: $accent-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $color-btn3_hover;
    }

    @media screen and (min-width: 1280px) {
      margin-top: 25px;
      padding-top: 11px;
      width: 104px;
      height: 40px;
      border-radius: 20px;
      font-size: 14px;
      line-height: 1.29;
    }
  }
  &-made {
    display: inline-block;
    margin-left: 8px;
    margin-top: 20px;
    padding-top: 8px;
    text-align: center;
    width: 83px;
    height: 24px;
    border-radius: 12px;
    color: $accent-color;
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    background-color: $color-bg-inverse;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $color-bg-btn_hover;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 25px;
      margin-left: 15px;
      padding-top: 11px;
      width: 138px;
      height: 40px;
      border-radius: 20px;
      font-size: 14px;
      line-height: 1.29;
    }
  }
}
.hero-secondary {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.hero-text {
  position: absolute;
  top: 292px;
  left: 158px;
  width: 114px;
  @media screen and (min-width: 1280px) {
    top: 485px;
    left: 295px;
    width: 200px;
  }

  &-item {
    color: $color-text;
    font-size: 8px;
    line-height: 1.5;
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.4;
    }
  }
  &::before {
    position: absolute;
    content: '';
    bottom: -6px;
    left: -124px;
    width: 124px;
    height: 126px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/hero-header/img-tablet-milk@1x.png');
    z-index: 10;
    @media screen and (min-width: 1280px) {
      top: -56px;
      left: -218px;
      width: 188px;
      height: 191px;
      background-image: url('../images/hero-header/img-desktop-milk@1x.png');
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero-header/img-tablet-milk@2x.png');

      @media screen and (min-width: 1280px) {
        background-image: url('../images/hero-header/img-desktop-milk@2x.png');
      }
    }
  }
}
.hero-text-crossing {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $color-bg-inverse;
  margin-top: 7px;
  fill: $accent-color;
  @include centeredFlex($type: flex);
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}

.hero-number {
  &-sale-list {
    position: absolute;
    top: 94px;
    right: 44px;
    @media screen and (min-width: 1280px) {
      top: 156px;
      right: 115px;
    }
  }
  &-sale {
    position: relative;
    text-align: right;
    z-index: 20;
    &:not(:last-child) {
      padding-bottom: 13px;
      @media screen and (min-width: 1280px) {
        padding-bottom: 15px;
      }
    }

    &::after {
      position: absolute;
      content: '';
      top: -2px;
      right: -10px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-bg-inverse;
      z-index: -1;
      @media screen and (min-width: 1280px) {
        top: -4px;
        right: -18px;
        width: 30px;
        height: 30px;
      }
    }
  }
  &-number {
    color: $accent-color;
    font-family: $font-decor;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 1.15;
    }
  }

  &-text {
    color: $color-text;
    font-family: $font-main;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.29;
    }
  }
}
