.about {
  background: $color-bg-section;

  & .container {
    padding-top: 125px;
  }
}

.about-label {
  font-family: $font-decor;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;
  color: $title-text-color;
  text-decoration: none;
  margin: 0 auto 15px;
}

.about-title {
  width: 200px;
  height: 76px;

  font-family: $font-decor;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  margin: 0 auto 26px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  text-decoration: none;
}

.cow {
  width: 280px;
  height: 300px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background: url(../images/about/img-mob-cow@1x.png);
}

.about-text {
  display: block;
}

.about-button {
  width: 176px;
  height: 44px;
  align-items: center;
  justify-content: center;

  background: $color-text;
  border-radius: 22px;
  border: none;

  transition: background $cubicBezierMain $transitionTime;

  &:focus,
  &:hover {
    background: $color-bg-btn_hover;
  }
}
